body {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  background-color: #32425c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding-bottom: 21px;
}

.main-nav a {
  display: block;
  text-align: center;
  padding-top: 21px;
  font-size: 17px;
  color: #ffffff;
}

.main-nav a:hover {
  background-color: #293449;
}

.header {
  background-color: #f4f7f9;
  min-height: 273px;
  padding-bottom: 10px;
}

.header > div:first-of-type {
  background-color: #293449;
}

.popular-title {
  color: #32425c;
  font-size: 30px;
  font-weight: normal;
  padding-left: 30px;
  text-transform: uppercase;
  background-color: #f9f5f0;
}

.popular-box {
  min-height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.service {
  background-color: #f4f7f9;
  color: #000000;
  font-weight: normal;
}

.line {
  display: flex;
  background-image: url("../img/icon_img/shadow.png");
  background-repeat: no-repeat;
  background-position: 232px 0;
  padding-right: 5px;
  padding-top: 25px;
}

.service ul {
  margin-right: 80px;
  padding-left: 0;
  list-style-type: none;
}

.line li {
  display: block;
  width: 217px;
  background-color: #32425c;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.43;
  text-align: left;
  color: #ffffff;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 23px;
  box-shadow: 0 1px 0 0;
  border: none;
}

.line li:hover {
  background-color: #293449;
  cursor: pointer;
}


.service h2 {
  padding-top: 68px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
}

.service h3 {
  font-size: 36px;
  font-weight: normal;
}

.service p {
  font-size: 13px;
  line-height: 1.85;
  font-family: "PTSans", "Arial Narrow", sans-serif;
}

.service-description {
  width: 398px;
  margin-bottom: 0;
}

.delivery-service {
  width: 275px;
  background-image: url("../img/icon_img/delivery.png");
  background-repeat: no-repeat;
  background-position: 120px 80px;
  padding-right: 340px;
  padding-bottom: 95px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 27px;
}


.main-description {
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  width: 183px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 52px;
  line-height: 1.44;
  margin-right: 50px;
}

.tel-wrap {
  padding-top: 7px;
}

.button-wrap {
  padding-top: 7px;
}

.tel {
  display: inline;
  color: #ee3643;
  font-size: 21px;
  border: solid 3px #ffffff;
  background-image: url("../img/icon_img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  padding-left: 68px;
  padding-right: 50px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.address {
  color: #32425c;
  font-size: 14px;
  padding-top: 4px;
  padding-left: 7px;
}


.main-logo {
  display: block;
  background-color: #ee3643;
  width: 109px;
  padding-left: 55px;
  padding-right: 56px;
  padding-top: 13px;
  padding-bottom: 12px;
  box-shadow: 0 5px 0 0 rgba(207, 48, 48, 1);
}

.order-panel a {
  margin: 0;
  padding: 0;
}

.main-logo:hover {
  background-color: #ca2c37;
  cursor: pointer;
}

.main-logo:active {
  background-color: #ba2732;;
}

.products-and-benefits {
  display: flex;
  flex-wrap: wrap;
  padding-top: 59px;
  margin-top: 25px;
  padding-left: 0;
}

.products-and-benefits div {
  min-height: 123px;
  margin-bottom: 20px;
}

.products-and-benefits .no-margin {
  margin-right: 0;
}

.products-and-benefits a {
  display: block;
  text-align: center;
  width: 135px;
  color: #ffffff;
  margin-left: 25px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
}

.products-and-benefits a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.products-and-benefits a:active {
  background: rgba(0, 0, 0, 0.3);
}

.products-and-benefits h3 {
  padding-left: 23px;
  margin-bottom: 30px;
}

.products-and-benefits .drill {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 0;
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.left-column {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 620px;
  margin-right: 20px;
}

.left-column div {
  padding-right: 120px;
  width: 180px;
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.right-column div {
  padding-right: 120px;
  width: 180px;
}

.button-left {
  position: absolute;
  left: 230px;
  top: 620px;
  width: 22px;
  height: 40px;
  background: none;
  background-image: url("../img/icon_img/icon-left.svg");
  background-repeat: no-repeat;
  background-size: 22px 40px;
  border: none;
}

.button-right {
  position: absolute;
  left: 750px;
  top: 620px;
  width: 22px;
  height: 40px;
  background: none;
  background-image: url("../img/icon_img/icon-right.svg");
  background-repeat: no-repeat;
  background-size: 22px 40px;
  border: none;
}

.products-and-benefits p {
  padding-left: 25px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 115px;
}

.products-and-benefits .advantage-1 {
  background-color: #ffbf47;
  background-image: url("../img/icon_img/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px;
}

.products-and-benefits .advantage-2 {
  background-color: #3bbce3;
  background-image: url("../img/icon_img/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 61px;
  background-position: 197px;
}

.products-and-benefits .advantage-3 {
  background-color: #dc91d8;
  background-image: url("../img/icon_img/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px;
}


.products-and-benefits .advantage-4 {
  background-image: url("../img/background_img/slider-image.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
  padding-right: 0;
}

.products-and-benefits .advantage-5 {
  background-color: #8ed78f;
  background-image: url("../img/icon_img/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 72px;
  background-position: 196px;
  min-height: 123px;
  margin-bottom: 20px;
}

.products-and-benefits .advantage-6 {
  background-color: #ffc047;
  background-image: url("../img/icon_img/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px;
  min-height: 123px;
  margin-bottom: 20px;
}

.products-and-benefits .button-catalog {
  display: block;
  width: 195px;
  height: 27px;
  background-color: #ee3643;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  border-radius: 5px;
  padding-bottom: 0;
  padding-top: 11px;
}

.products-and-benefits .button-catalog:hover {
  background-color: #ca2c37;
}

.products-and-benefits .button-catalog:active {
  background-color: #ba2732;
}

.button-red {
  margin-top: 1.8em;;
  text-align: center;
  width: 253px;
  padding-top: 10px;
  padding-bottom: 11px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  background-color: #ee3643;
  border-radius: 5px;
  line-height: 1.29;
}

.button-red-margin {
  margin-right: 24px;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.popular-item {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.popular-item li {
  border: solid 1px #eaeaea;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  list-style-type: none;
}

.popular-item li:last-of-type {
  margin-right: 0;
}


.popular-item li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-item li:hover img {
  display: none;
}

.popular-item li:hover .popular-item-hover {
  display: block;
}

.popular-item div {
  width: 155px;
  margin-left: auto;
  margin-right: auto;
}


.popular-item a {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
}

.popular-item-hover {
  display: none;
  padding-top: 25px;
  padding-bottom: 22px;
}

.popular-item-hover a {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  line-height: 1.29;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.center-buy {
  padding-left: 12px;
  text-align: left;
}

.buy {
  box-shadow: inset 0 -3px 0 0 #367315;
}

.buy svg {
  opacity: 0.3;
  margin-right: 22px;
}

.popular-item-hover .buy {
  width: 135px;
  background-color: #63a63e;
  color: #ffffff;
  margin-bottom: 7px;
}

.buy:hover svg {
  opacity: 1;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.list-markers .book-mark {
  padding-right: 27px;
}

.popular-item-hover .book-mark {
  width: 129px;
  border: solid 3px #63a63e;
  color: #32425c;
}

.book-mark:hover {
  border: solid 3px #32425c;
}

.book-mark:active {
  opacity: 0.3;
}

.item-model {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: black;
  text-align: center;
  margin-top: 0;
  padding-top: 2px;
  margin-bottom: 10px;
}


.old-price {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.06;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0;
}

.popular-button {
  background-image: url("../img/icon_img/red-button.svg");
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  padding-top: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.no-sale {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: black;
  text-align: center;
  padding-bottom: 9px;
  margin-bottom: 32px;
  margin-top: 0;
}

.manufacturers {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.manufacturers li {
  list-style-type: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacturers a {
  border: solid 1px #eaeaea;
  width: 218px;
  min-height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturers > li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers > li:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.manufacturers .right-manufactures {
  margin-right: 0;
}

.about-us {
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding-bottom: 86px;
  padding-top: 60px;
}

.about-us h3 {
  font-size: 30px;
  font-weight: normal;
}

.about-us ul {
  padding-left: 0;
  margin-bottom: 40px;
}

.about-us p {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
}

.about-delivery {
  width: 519px;
}

.about-us ul > li {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  list-style-type: none;

}

.delivery {
  width: 386px;
}

.about-us ul > li::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 25px;
  position: relative;
  vertical-align: middle;
  background-color: #ee3643;
  margin-right: 10px;
}

.about-us div:last-of-type {
  width: 300px;
}

.about-us-button {
  display: block;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  height: 30px;
}


.about-us-button-write {
  width: 300px;
}

.map {
  margin-bottom: 18px;
}


.top-footer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 18px;
  font-size: 18px;
}

.top-footer > p {
  width: 326px;
  padding-left: 2px;
  margin-top: 0;
  padding-top: 18px;
}

.top-footer p > a {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #f3f7f9;
}

.top-footer > img {
  margin-right: 50px;
  height: 47px;
  padding-top: 8px;
  padding-bottom: 6px;
}


.top-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 550px;
  padding-left: 119px;
  padding-top: 22px;
}

.top-links a:hover {
  text-decoration: underline;
}

.top-links a:active {
  opacity: 0.5;
  text-decoration: none;
}

.top-footer div {
  flex-grow: 2;
}

.top-links > li {
  list-style-type: none;
}

.bottom-links li {
  list-style-type: none;
}

.bottom-links a:hover {
  text-decoration: underline;
}

.bottom-links a:active {
  opacity: 0.5;
  text-decoration: none;
}

.top-links > li a {
  color: #f1f5f7;
}

.bottom-footer p {
  width: 228px;
  line-height: 1.13;
  margin-bottom: 0;
}

.bottom-footer {
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 77px;
}

.feedback {
  display: flex;
  max-width: 300px;
}

.feedback div {
  max-width: 190px;
}

.connection {
  color: #ffd180;
}

.connection:hover {
  text-decoration: underline;
}

.connection:active {
  text-decoration: none;
  color: #ee3643;
}

.bottom-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 87px;
  padding-top: 1px;
}

.bottom-links > li a {
  color: #ffd180;
}

.order-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #293449;
}


.search-row {
  background-color: #293449;
  border: none;
  padding-top: 14px;
  padding-left: 40px;
  padding-bottom: 13px;
  color: #ffffff;
}

.form-search svg {
  position: absolute;
  top: 20px;
  opacity: 0.3;
  fill: #ffffff;
  padding-left: 7px;
}

.search-row::placeholder {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 17px;
  opacity: 1;
  color: #ffffff;
}

.search-row:hover {
  background-color: #212a3a;
}

.search-row:hover ~ .icon-search {
  opacity: 1;
}

.search-row:focus {
  background-color: #ffffff;
  outline-width: 0;
}

.list-markers {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
  font-size: 17px;

}

.list-markers li {
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;
  margin-bottom: 0;
}

.list-markers li:hover {
  background-color: #212a3a;
}

.list-markers li:hover svg {
  opacity: 1;
}

.list-markers li:active {
  background-color: #161d29;
}

.list-markers svg {
  position: relative;
  top: 2px;
  margin-right: 7px;
  opacity: 0.3;
}

.list-markers li a {
  color: inherit;
}

.list-markers > li:nth-child(3) {
  background-color: #63a63e;
}

.list-markers > li:nth-child(3):hover {
  background-color: #5fbb2d;
}

.list-markers > li:nth-child(3):active {
  background-color: #518534;
}

.button-white {
  font-family: inherit;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-left: 25px;
}

.button-white:hover {
  color: #ee3643;
}

.button-white:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-login {
  font-family: inherit;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-right: 15px;
  padding-left: 0;

}

.button-login svg {
  padding-right: 14px;
  padding-left: 14px;
  fill: #c5c5c5;
}

.button-login:hover {
  color: #ee3643;
}

.button-login:hover svg {
  fill: #293449;
}

.button-reg {
  margin-left: 9px;
  padding-right: 25px;
  padding-left: 25px;
}

.footer-background {
  background-color: #32425c;
}

.social-networks {
  padding-top: 10px;
  padding-left: 50px;
}

.social-networks a {
  display: inline-block;
  text-align: center;
  line-height: 42px;
  width: 42px;
  margin-right: 3px;
  background-color: #212a3a;
  border-radius: 50%;
  font-size: 32px;
}

.social-networks a:hover {
  background-color: #ee3643;
}

.social-networks a:active {
  background-color: #ee3643;
}

.bottom-footer-background {
  background-color: #293449;
}

/*Css styles for catalog page */

.bread {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 0;
  margin-bottom: 19px;
  padding-right: 562px;
}

.bread a {
  color: #000000;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.bread li {
  background-image: url("../img/icon_img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
}

.bread li:last-child {
  background-image: none;
}

.rotary-hammers {
  background-color: #f2f6f8;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.rotary-hammers > h2 {
  margin-top: 0;
  font-size: 30px;
  color: #32425c;
  font-weight: normal;
  padding-left: 28px;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 0;
  padding-top: 6px;
}

.filter {
  width: 220px;
  color: #000000;
  margin-right: 20px;
}

.filter h3 {
  background-color: #f7f3ec;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 22px;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.38;
  border-radius: 5px;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  margin-bottom: 10px;
}

.filter-manufacturers {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.filter-manufacturers legend {
  text-transform: uppercase;
  padding-left: 0;
  font-weight: bold;
}

.filter fieldset {
  border: none;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 17px;
  text-align: left;
  border-bottom: #f7f3ec 1px solid;
  text-transform: uppercase;
}

.catalog {
  display: flex;
}

.sort {
  display: flex;
  justify-content: space-between;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f7f3ec;
  padding-top: 12px;
  padding-bottom: 13px;
  border-radius: 5px;
  list-style-type: none;
  margin-bottom: 20px;
}

.sort:nth-child(2) {
  color: #000000;
  padding-left: 19px;
}

.sort-price {
  padding-left: 140px;
}

.type {
  padding-left: 78px;
  margin-right: 43px;
}

.function {
  padding-left: 33px;
  margin-right: 55px;
}

.sort a {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.sort a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sort a:focus {
  color: #ee3643;
  border: none;
}

.sort svg {
  fill: #c5c5c5;
}

.sort-svg-height {
  padding-right: 20px;
}

.sort-svg-less {
  padding-right: 17px;
}


.sort svg:hover {
  fill: #231F20;
}

.sort a:focus svg {
  fill: #ee3643;
}

.sort-svg a {
  border: none;
}

.sort-svg a:hover {
  border: none;
}

.checkbox-on {
  display: none;
  fill: #c5c5c5;
}

.checkbox-off {
  fill: #c5c5c5;
}

.filter-manufacturers input:checked ~ .checkbox-off {
  display: none;
}

.filter-manufacturers input:checked ~ .checkbox-on {
  display: inline;
}

.filter-manufacturers input:disabled ~ svg {
  fill-opacity: 0.4;
}

.filter-manufacturers input:disabled ~ label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-manufacturers svg {
  width: 27px;
  margin-right: 2px;
}

.filter-manufacturers svg:hover {
  fill: #b5b5b5;
}

.filter-manufacturers > div {
  margin-top: 12px;
}

.radio-off {
  fill: #c5c5c5;
}

.radio-on {
  fill: #c5c5c5;
  display: none;
}

.power {
  margin-bottom: 50px;
}

.power input:checked ~ .radio-off {
  display: none;
}

.power input:checked ~ .radio-on {
  display: inline;
}

.power svg {
  position: relative;
  top: 6px;
  margin-right: 5px;
}

.power label {
  display: block;
  margin-bottom: 7px;
}

.goods {
  display: flex;
  flex-wrap: wrap;
}

.goods article {
  border: solid 1px #eaeaea;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 11px;
}

.flag-new {
  background-image: url("../img/icon_img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  z-index: 90000;
}

.catalog article:nth-child(3n) {
  margin-right: 0;
}


.goods article:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods article:hover .popular-item-hover {
  display: block;
}

.goods article:hover img {
  display: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination a {
  display: block;
  width: 38px;
  height: 38px;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border-radius: 3px;
  margin-right: 10px;
}

.pagination a:hover {
  border: solid 1px #bdc6ca;
}

.pagination a:active {
  border: solid 1px #ee3643;
}

/*.pagination a:focus {
  color: #ffffff;
  background-color: #ee3643;
}*/

.pagination .next {
  width: 140px;
}

.about-hammer-drill {
  background-color: #f4f7f9;
  padding-bottom: 55px;
  color: #000000;
}

.about-hammer-drill h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 65px;
}

.about-hammer-drill p {
  font-size: 13px;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-weight: normal;
  line-height: 1.85;

}

.show {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-right: 39px;
  width: 140px;
  border-radius: 3px;
}

.show:hover {
  border: solid 1px #bdc6ca;
}

.show:active {
  border: solid 1px #ee3643;
  outline-color: #ee3643;
}

.list-markers .active-box {
  background-color: #ee3643;
  padding-left: 25px;
  padding-right: 25px;
}

.personal-link {
  margin-top: 17px;
  padding-left: 11px;
}

.personal-link a {
  text-decoration: underline;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: #32425c;
  padding-right: 10px;
  padding-left: 5px;
}

.personal-link .personal-cabinet {
  padding-left: 9px;
}

.personal-link a:hover {
  color: #ee3643;
}

.personal-link a:active {
  color: rgba(50, 66, 92, 0.3);
}

.button-logout {
  font-family: inherit;
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.button-logout svg:first-of-type {
  padding-left: 12px;
  padding-right: 8px;
}

.button-logout svg:last-of-type {
  padding-left: 33px;
  padding-right: 9px;
  padding-top: 1px;
}

.button-logout svg {
  fill: #c5c5c5;
}

.button-logout:hover svg {
  fill: #32425c;
}

.button-logout:active {
  color: rgba(50, 66, 92, 0.3);
}

.button-logout:active svg {
  fill: #c5c5c5;;
}

.bullet {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #32425c;
  border-radius: 50%;
  position: relative;
  bottom: 1px;
}

/*  Modal windows*/


.modal-window {
  width: 620px;
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-red {
  height: 7px;
  background-color: #ee3643;
}

.close {
  background-image: url("../img/icon_img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 590px;
  height: 21px;
  padding-top: 6px;
}

.modal-window form {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

.question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.question label {
  display: block;
  margin-bottom: 13px;
}

.question input {
  border: none;
  border: solid 2px #dee3e4;
  border-radius: 3px;
  width: 214px;
  height: 38px;
}

.question input:hover {
  border: solid 2px #b5b5b5;
}

.question input:focus {
  outline: none;
  border: solid 2px #ee3643;
}

.question input::placeholder {
  padding-left: 16px;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #a9a9a9;
}

.question textarea {
  border: none;
  border: solid 2px #dee3e4;
  border-radius: 3px;
  margin-bottom: 34px;
}

.question textarea:hover {
  border: solid 2px #b5b5b5;
}

.question textarea:focus {
  outline: none;
  border: solid 2px #ee3643;
}

.letter {
  padding-top: 19px;
}

.question textarea::placeholder {
  padding-top: 13px;
  padding-left: 16px;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #a9a9a9;
}

.flex {
  display: flex;
  justify-content: center;
}

.send {
  width: 460px;
  height: 38px;
  border: none;
  background: none;
  background-color: #ee3643;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: #ffffff;
  position: relative;
  top: 37px;
}

.beck-button {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  height: 112px;
}


.modal-window-catalog {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 620px;
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-window-catalog p {
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.38;
  color: #000000;
  text-align: center;
  background-image: url("../img/icon_img/icon-mark.svg");
  background-repeat: no-repeat;
  padding-left: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-position: 81px;
  margin-bottom: 47px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  height: 112px;
  background-color: #f1f1f1;
}


.modal-buttons button {
  position: relative;
  top: 37px;
  height: 38px;
  width: 220px;
  font-family: "Cuprum", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background: none;
  background-color: #ffffff;
}


.modal-red-catalog {
  height: 7px;
  background-color: #ee3643;
  margin-bottom: 47px;
}

.modal-buttons .order {
  border: none;
  background: none;
  background-color: #ee3643;
  color: #ffffff;
  margin-right: 20px;
}


/*double range for catalog page*/


.filter-item legend {
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.76;
  margin-bottom: 16px;
  text-transform: uppercase;
  padding-left: 2px;

}

.range-filter {
  width: 220px;
  padding-bottom: 12px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 21px;
  border-bottom: #f7f3ec 1px solid;
}


.range-controls {
  position: relative;
  height: 41px;
  padding-top: 37px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 140px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 28px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  padding-top: 3px;
  padding-bottom: 8px;
}

.price-controls label {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 75px;
  font-size: 17px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 4px;
  background: #f7f3ec;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 20px;
}

.max-price {
  text-align: right;
}

.price-controls p {
  display: inline-block;
  font-family: "PTSans", "Arial Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  color: #444444;
  padding-left: 11px;
  padding-right: 11px;
}

.current-slide {
  position: absolute;
  top: 730px;
  left: 498px;
  padding: 3px 4px 4px 3px;
  display: inline-block;
  border-radius: 50%;
  border: none;
  border: 2px solid white;
  background-color: #ee3643;
}

.inactive-slide {
  position: absolute;
  top: 730px;
  left: 518px;
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
}
